<li class="Column {% if modifier %}Column-{{modifier}}{% endif %} {% if smallModifier %}Column-small-{{ smallModifier }}{% endif %} MediaItem">
  <a href="/objects/{{ object._slug }}" class="MediaItem-Link">
    <img class="MediaItem-Image" src="{{ object.photo.url }}" alt="">
  </a>
  <a href="/objects/{{ object._slug }}" class="MediaItem-Link">
    <div class="MediaItem-Title">{{ object.title }}</div>
  </a>
  <time class="MediaItem-Date">{{ object.date | localized_date: '%m/%d/%Y' }}</time>
  <p class="MediaItem-Description">
    <a href="/objects/{{ object._slug }}" class="MediaItem-Link">
      {{ object.description }}
    </a>
  </p>
</li>
